<div class="page-header">
  <h4>New poll_option</h4>
</div>

<div class="panel-body">
  <%= render 'form' %>
</div>

<div class="panel-footer">
  <%= link_to 'Back', admin_poll_options_path+'?id='+params[:id], class: 'btn btn-default' %>
</div>