<div class="page-header">
  <h4>Editing company</h4>
</div>

<div class="page-body">
  <%= render 'form' %>
</div>

<div class="page-footer">
  <%= link_to 'Show', [:admin, @company], class: 'btn btn-default' %>
  <%= link_to 'Back', admin_companies_path, class: 'btn btn-default' %>
</div>