<div class="panel-heading">
  <h4>New company</h4>
</div>

<div class="panel-body">
  <%= render 'form' %>
</div>

<div class="panel-footer">
  <%= link_to 'Back', admin_companies_path, class: 'btn btn-default' %>
</div>