<%# encoding: utf-8 %>
<div class="row clearfix">
  <div class="footer_last">
    <span class="copyright">© 2014 <a href="http://gamernow.com.br/">Gamer Now</a>. Todos os direitos Reservados. /
      Desenvolvido por: <a href="http://www.jeancf.com.br">JeanCF.com.br</a></span>
    <div id="toTop" class="toptip" title="Back to Top"><i class="icon-arrow-thin-up"></i></div>
  </div>
  <!-- /last footer -->
</div>
<!-- /row -->
