<%# encoding: utf-8 %>
<div class="a_head">
  <div class="row clearfix">
    <div class="breaking_news lefter">
      <div class="freq_out">
        <div class="freq">
          <div class="inner_f"></div>
          <div id="layerBall"></div>
        </div>
      </div>
      <!-- /freq -->
      <ul id="js-news" class="js-hidden">
        <li class="news-item"><a href="#">Lara Croft: Tomb Raider e Lara Croft Tomb Raider: The Cradle of Life</a>
        </li>
        <li class="news-item"><a href="#">estrelando a atriz americana Angelina Jolie como Lara Croft.</a></li>
        <li class="news-item"><a href="#">Tomb Raider venderam mais de 30 milhões de unidades</a></li>
      </ul>
      <!-- /js news -->
    </div>
    <!-- /breaking news -->

    <div class="right_bar">

      <div class="social social_head">
        <a href="#" class="bottomtip" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="bottomtip" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="bottomtip" title="Google Plus"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="bottomtip" title="Youtube"><i class="fa fa-youtube"></i></a>
      </div>
      <!-- /social -->

      <span id="date_time"></span><!-- /date -->
    </div>
    <!-- /right bar -->
  </div>
  <!-- /row -->
</div>
<!-- /a head -->