<%# encoding: utf-8 %>
<div class="posts_block mbf clearfix">
  <div class="title color3">
    <h4>Comunidade</h4>
    <a href="#" class="feed toptip" title="People RSS Feed"><i class="icon-feed"></i></a></div>
  <div class="grid_6 alpha">
    <div class="mb hover-shadow"><a href="#"><img src="/images/assets/r_11.jpg" alt=""></a></div>
    <div class="post_m_content">
      <h3><a href="#">Here's What Instagram Ads Will Look Like</a></h3>

      <div class="meta mb"> 3 hours ago / <a href="#">0 Comentários</a></div>
      <p> Lorem Ipsum is simply dummy text of the printing and typesetting... </p>
    </div>
    <!-- post content -->
  </div>
  <!-- grid6 omega -->

  <div class="grid_6 omega">
    <div class="small_slider_travel owl-carousel owl-theme">
      <div class="item clearfix">
        <ul class="small_posts">
          <li class="clearfix">
            <a class="s_thumb hover-shadow" href="#"><img width="70" height="70" src="/images/assets/thumb2.jpg" alt="#"></a>

            <h3><a href="#">What worst could be the worst?</a></h3>

            <div class="meta mb"> 5 hours ago / <a href="#">1 Comentários</a></div>
          </li>
          <li class="clearfix">
            <a class="s_thumb hover-shadow" href="#"><img width="70" height="70" src="/images/assets/thumb8.jpg" alt="#"></a>

            <h3><a href="#">Praesent ipsum adipiscing mi eget ipsum</a></h3>

            <div class="meta mb"> 1 days ago / <a href="#">5 Comentários</a></div>
          </li>
          <li class="clearfix">
            <a class="s_thumb hover-shadow" href="#"><img width="70" height="70" src="/images/assets/thumb1.jpg" alt="#"></a>

            <h3><a href="#">Paul Thomson on post with SoundCloud</a></h3>

            <div class="meta mb"> 3 days ago / <a href="#">14 Comentários</a></div>
          </li>
          <li class="clearfix">
            <a class="s_thumb hover-shadow" href="#"><img width="70" height="70" src="/images/assets/thumb10.jpg" alt="#"></a>

            <h3><a href="#">For the days of peace and warmth</a></h3>

            <div class="meta mb"> 3 days ago / <a href="#">14 Comentários</a></div>
          </li>
        </ul>
      </div>
      <div class="item clearfix">
        <ul class="small_posts">
          <li class="clearfix">
            <a class="s_thumb hover-shadow" href="#"><img width="70" height="70" src="/images/assets/thumb4.jpg" alt="#"></a>

            <h3><a href="#">What worst could be the worst?</a></h3>

            <div class="meta mb"> 5 hours ago / <a href="#">1 Comentários</a></div>
          </li>
          <li class="clearfix">
            <a class="s_thumb hover-shadow" href="#"><img width="70" height="70" src="/images/assets/thumb3.jpg" alt="#"></a>

            <h3><a href="#">Praesent ipsum adipiscing mi eget ipsum</a></h3>

            <div class="meta mb"> 1 days ago / <a href="#">5 Comentários</a></div>
          </li>
          <li class="clearfix">
            <a class="s_thumb hover-shadow" href="#"><img width="70" height="70" src="/images/assets/thumb9.jpg" alt="#"></a>

            <h3><a href="#">Praesent ipsum adipiscing mi eget ipsum</a></h3>

            <div class="meta mb"> 4 days ago / <a href="#">5 Comentários</a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- grid6 omega -->
</div>
<!-- posts block People -->