<%# encoding: utf-8 %>
<div class="ipress_slider mbf">
  <div class="slider_a owl-carousel owl-theme">
    <div class="item clearfix">
      <div class="half">
        <div class="slide_details"><a class="cat color3" href="#" title="Visualizar posts desta categoria">PC</a>
          <span class="post_rating" href="#" title="Nota"><i class="fa fa-star"></i> 8.55</span>

          <h3><a href="#">Assasins Creed 4 - Black Flag</a></h3>
        </div>
        <a href="#"><img src="/uploads/images/slider_a_1.jpg" alt=""></a></div>
      <!-- /half -->

      <div class="half">
        <div class="slide_details">
          <a class="cat color1" href="#" title="Visualizar posts desta categoria">Playstation 4</a>
          <span class="post_rating" href="#" title="Rating"><i class="fa fa-star"></i> 9.1</span>

          <h3><a href="#">Project Cars</a></h3>
        </div>
        <a href="#"><img src="/uploads/images/slider_b_1.jpg" alt=""></a></div>
      <!-- /half -->

      <div class="half">
        <div class="slide_details">
          <a class="cat color2" href="#" title="Visualizar posts desta categoria">Playstation 4</a>
          <span class="post_rating" href="#" title="Rating"><i class="fa fa-star"></i> 7.42</span>

          <h3><a href="#">Ratchet Nexus</a></h3>
        </div>
        <a href="#"><img src="/uploads/images/slider_b_2.jpg" alt=""></a></div>
      <!-- /half -->
    </div>
    <!-- /slide -->

    <div class="item clearfix">
      <div class="half">
        <div class="slide_details">
          <a class="cat color4" href="#" title="Visualizar posts desta categoria">X-Box One</a>
          <span class="post_rating" href="#" title="Rating"><i class="fa fa-star"></i> 9.11</span>

          <h3><a href="#">Killer Instintic 3</a></h3>
        </div>
        <a href="#"><img src="/uploads/images/slider_a_2.jpg" alt=""></a></div>
      <!-- /half -->

      <div class="half">
        <div class="slide_details">
          <a class="cat color5" href="#" title="Visualizar posts desta categoria">Playstation 3</a>
          <span class="post_rating" href="#" title="Rating"><i class="fa fa-star"></i> 10</span>

          <h3><a href="#">The last of US</a></h3>
        </div>
        <a href="#"><img src="/uploads/images/slider_b_3.jpg" alt=""></a></div>
      <!-- /half -->

      <div class="half">
        <div class="slide_details">
          <a class="cat color6" href="#" title="Visualizar posts desta categoria">Playstation 4</a>
          <span class="post_rating" href="#" title="Rating"><i class="fa fa-star"></i> 6.99</span>

          <h3><a href="#">Futuro de Uncharted</a></h3>
        </div>
        <a href="#"><img src="/uploads/images/slider_b_4.jpg" alt=""></a></div>
      <!-- /half -->
    </div>
    <!-- /slide -->

  </div>
  <!-- /slider -->
</div>
<!-- /slider ipress -->