<%# encoding: utf-8 %>
<div class="top-shade"></div>
<div id="full-width-slider" class="royalSlider heroSlider rsMinW">
  <div class="rsContent slide4"> <a class="rsImg" href="<%= @game.background %>">#</a>
    <div class="bContainer"> <strong class="rsABlock txtCent blockHeadline"><%= @game.title %></strong></div>
  </div>
</div>
<div class="bottom-shade"></div>
