<%# encoding: utf-8 %>
<div class="widget">
  <div class="title title color2">
    <h4>Comentários Recentes</h4>
  </div>
  <ul class="recent_Comentários small_posts">

    <li class="clearfix">
      <a class="s_thumb hover-shadow" href="#"><img width="80" height="80" src="/images/assets/avatar1.jpg" alt="#"></a>
      <h5><a href="#">Jean Carlos Farias</a>:</h5>
      <p>Zombie ipsum reversus ab viral inferno...</p>
    </li>

  </ul>
</div>
<!-- /widget -->