<%# encoding: utf-8 %>
<div class="widget">
  <div class="title">
    <h4>Curta-nos</h4>
  </div>
  <div class="bg_light">
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FGamerNowPage&amp;width=313&amp;height=200&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=0&amp;header=true&amp;appId=138798126277575" frameborder="0" height="258" style="border: none; overflow: hidden; width: 313px; height: 258px;"></iframe>
  </div>
</div>
<!-- widget -->