<%# encoding: utf-8 %>
<div class="widget">
  <div class="latest_tweets">
    <h4><i class="fa fa-twitter"></i> @iPress
      <small> tweets</small>
    </h4>
    <div class="tweets">
      <div class="tweets_slider owl-carousel owl-theme">
        <div class="item clearfix"> Singolo is a free PSD template of a flat, single page website created by @T20
          #freebie #psd <a href="#">http://bit.ly/19XM8Lj</a> <br>
          <br>
          2 hours ago
        </div>
        <!-- /slide -->
        <div class="item clearfix"> Singolo is a free PSD template of a flat, single page website created by @T20
          #freebie #psd <a href="#">http://bit.ly/19XM8Lj</a> <br>
          <br>
          1 day ago
        </div>
        <!-- /slide -->
        <div class="item clearfix"> Singolo is a free PSD template of a flat, single page website created by @T20
          #freebie #psd <a href="#">http://bit.ly/19XM8Lj</a> <br>
          <br>
          5 days ago
        </div>
        <!-- /slide -->
      </div>
      <!-- /tweets slider -->
    </div>
    <!-- /tweets -->
  </div>
  <!-- /latest tweets -->
</div>
<!-- /widget -->