<div class="page-header">
  <h1>Editing post_comment</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @post_comment], class: 'btn btn-default' %>
<%= link_to 'Back', admin_post_comments_path, class: 'btn btn-default' %>
