<%# encoding: utf-8 %>
<div class="clearfix">
  <div class="row">
      <nav>
        <ul class="sf-menu sf-menu2">
          <li class="color1"><a href="#"><i class="fa-gamepad"></i> <%= @game.title %> </a></li>
          <li class="color2"><a href="#"><i class="fa-file-text-o"></i> Revisões</a></li>
          <li class="color3"><a href="#"><i class="fa-file-text-o"></i> Notícias</a></li>
          <li class="color4"><a href="#"><i class="fa-video-camera"></i> Imagens</a></li>
          <li class="color4"><a href="#"><i class="fa-video-camera"></i> Vídeos</a></li>
          <li class="color5"><a href="#"><i class="fa-user"></i> Forum</a></li>
        </ul>
        <!-- /menu -->
      </nav>
      <!-- /nav -->

  </div>

</div>