<div class="panel-heading">
  <h4>Editing advert</h4>
</div>

<div class="panel-body">
  <%= render 'form' %>
</div>

<div class="panel-footer">
  <%= link_to 'Show', [:admin, @advert], class: 'btn btn-default' %>
  <%= link_to 'Back', admin_adverts_path, class: 'btn btn-default' %>
</div>