<div class="panel-heading">
  <h1>Editing video</h1>
</div>

<div class="panel-body">
  <%= render 'form' %>
</div>

<div class="panel-footer">
  <%= link_to 'Show', [:admin, @video], class: 'btn btn-default' %>
  <%= link_to 'Back', admin_videos_path, class: 'btn btn-default' %>
</div>